<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>It's a <%= kindOfDay %></h1>
    <ul>
        <% for (item in newListItem){ %>
        <li><%= newListItem[item] %></li>
        <% } %>
    </ul>
    <form action="/" method="post">
        <input type="text" name="newItem">

        <button type="submit">Add</button>
    </form>
</body>
</html>